.category-filter{
  margin: 20px 20px 20px 0;
  .categories-list{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .category-dropdown{
    .menu{
      .item{
        font-size: 18px !important;
      }
    }
  }
}